
/* ---- MOBILE ---- */
#main-nav button {
   width: 40px;
   height: 40px;
   background: url(../images/burger.svg) no-repeat center;
   margin-top: 15px;
   transition: all .5s ease;
   border: 0;
}

#main-nav button.expanded {
   transform:scale(50%);
}

#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
   
}

#burger-con.slide-toggle {
   display: block;
   margin-left: -250px;
   

 

}

#main-nav ul {

   list-style: none;
   text-decoration: none;
   
   


   
}

#main-nav ul li a {
   display: block;
   text-align: center;
   color: #46627B;
   list-style: none;
   text-decoration: none;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
}

#main-nav ul li a:hover {
   color: #d3d3d3;
}

#main-nav ul li {
   border-bottom: 2px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 2px solid #efefef;
}


#main-nav ul li:last-child {
   margin-bottom: 30px;
}
 
#logo {
   position: absolute;
   max-width: 150px;
   padding-top: 7px;
   
   
}


   #pop-up {
      display: none;
  }

   #hero {

    width: 100vw;
    height: 180px;
    
   }
  
   
   #mybutton {
       width:100vw;
       height: 70px;
       background-color:#304455 ;
       color: #efefef;
       font-family: "orpheuspro", serif;
       font-weight: 400;
       font-style: normal;
       font-size: 15px;
       border-radius: px;
       border: none;
       position: absolute;
       margin-top: 0px;
       margin-left: 0;
       
    }

    #mybutton:hover {
       background-color:#efefef ;
       color: #304455; 
    }

  #why-zima {
    height:1000px;
    color: #304455 ;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    
  }  

  #why-zima h2{
    margin-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    width:250px
  }  

  #why-zima p{
    width:240px;
    
    text-align: center;
    
  }  

  #label {
  position: absolute;
  left:30%;
  margin-top: 500px;
  width:141px;
 
  }

  #can {
   width:141px;
    margin-top: 190px;
   position: absolute;
   margin-left: 60px;
   

  }
  
  #zima-flavours {
   

    height: 500px;
  }

  #flavour-text {
    margin-right: 30px;
    margin-top: 0px;
    color: #304455 ;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    
  }

  #flavour-text h2  {
    padding-bottom: 30px;
  }

  #fruit-buttons {
   margin-top: 90px;
  }

  #fruit-buttons button {
    padding: 0px; border: none; 
    background: none;
    margin-bottom: 30px;
  }

  #fruit-buttons button:hover {
    transform: scale(110%);
    transform: rotate(20deg);
  }
  
  #lemon-but {
    margin-bottom: 30px;
  }

   #share-con {
     
      
      background-color: #FFF8E5;
      color: #ffffff ;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      margin-bottom: 20px;
      padding-bottom:50px;
  }

  #share-txt h2 {
    margin-bottom: 20px;
    background-color: #FFF8E5;
    color: #304455;
  }

  #share-txt h3 {
   text-align: center;
    color: #304455;
    margin-bottom: 20px;
    background-color: #FFF8E5;
  }


  
  #share-pic {
    margin-top: 80px ;
    margin-bottom: 80px;
  }
   
 #icons {
    margin-left: 10px;
 }

  #icons img {
    padding-right: 20px;
  
  }

 #footer-logo {
   margin-top: 50px;
   position: absolute;
   width:200px;
 }

 #footer {
    background-color: #FFF8E5;
 }

  #footer-con {
    
    position: absolute;
    margin-top: 140px;
    margin-left: -30px;
    font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
     line-height: 60px;
   
  }

  #footer-con ul {
    list-style-type: none;
  
  }

  #footer-con ul li a {
    text-decoration: none;
    color:#304455 ;
    
    
  }
  
 
  
.close {

   

    color: rgb(0, 0, 0);
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;

   
}

.ad {
 position: absolute;
 top:5.5%;
 width:340px;



 


 
}

.ad .preview{
 display: none;
 margin-top: 33px;
}

.ad .preview.active{
 display: inline-block;
}




.ad .preview .close{
 position: absolute;
 left:80%;
 cursor: pointer;
 color:#444;
 
}

.ad .preview .close:hover{
 transform:scale(50%);
}

/* --------------------Our Distillery-------------------- */
#hero-dist {
   width: 100vw;
}
#dist-con {
   margin-top: 100px;
  
} 

#dist-txt {

      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #304455;
      text-align: center;
      margin-left: 0px;
      margin-top: 0px;
 }

 #dist-txt h2 {
   padding-bottom: 20px;
 }

 #beach {
   margin-bottom: 50px;
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #sus-con {
   margin-top: 400px;
} 

 #sus-txt {
      text-align: center;
      margin-top: 30px;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #304455;
 }

 #sus-txt h2 {
   padding-bottom: 30px;
 }

 #mountain {
  
   margin-top: -800px;
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #we-care {
   margin-top: 200px;
   margin-bottom: 100px;
 }

/*-----------------About Us-------------------*/
 




.container {
   background-image: url('../images/mountains-mob.png'); 
   background-repeat: no-repeat;


}

#main-text {
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 10px;
   width:320px;
   color: white;
   padding-left: 10px;
   padding-top: 10px;
 
}

.members { list-style-type: none; 
   padding-top: 80px;
   padding-bottom: 100px;
   margin-left: 15px;

}

#jas {
  width:220px;
  padding-bottom: 50px;
}

#nial {
  width:220px;
  padding-bottom: 50px;
}

#chlo {
  width:220px;
  padding-bottom: 50px;
}

#learn-more {
   width: 127px;
   margin-left: 100px;
   margin-top:10px
}



#contact-text {
	font-size: 30px;
	font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
   
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form {
 
   padding-top:30px;
   height: 650px;



}



#contact-form textarea {
	height: 100px;
    border: none;
    border-radius:  10px;
    margin-bottom: 0px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;

	width: 250px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact form textarea[name="msg"] {
	padding-left: 0px;

	padding-top: 20px;
}
#contact-form input {
    height:60px;
     
	display: flex;
	flex-direction:column;
    border: none;
    border-radius:  10px;
   font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 12px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 24px;
   background-color: #FFF8E5;
	width:250px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact-form input[type="text"] {
	padding-left: 20px;

}
#contact-form input[type="submit"]:hover {
    background-color: #677c90;
    border-radius: 10px;
	color: #ffffff;

}
#contact-form input[type="submit"] {
	width: 250px;
   font-size: 20px;
   padding-left: 90px;
   padding-top: 15px;
	background-color: #304455;
	color: #ffffff;
  

}

#info {
   padding-top: 50px;
   padding-bottom: 150px;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
}
#sign-up {
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
  padding-bottom: 60px;
}

#sign-up h2 {
   
  padding-bottom: 20px;
}


#mount-icon {
   margin-top: 100px;
}

/* lightbox rules */

.lightbox { 
   width: 100vw; 
   height: 100vh;

   position: absolute;

   top: 0;
   
   color: white;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 8px;
   color: black;
   



   background-color: rgba(255, 255, 255, 0.85);
   background-image: url('');
   background-repeat: no-repeat;

   background-size: 55vh; 
   background-position: 40px bottom;

   z-index: 5000;

   display: none;
}


.lightbox_close {
   position: relative;
   top: 20px;
   left: 95%;

   color: white;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 40px;
   color: black;

   text-decoration: none;

  
}

.lightbox_close:hover { opacity: 0.5; color: rgb(139, 209, 255); }

.lightbox article {
   width: 55%;
   margin-left: 20%;
   padding-top: 60px;
}

.lb_heading {
   padding-bottom: 30px;
   font-size: 100px;
}

.lb_text {
   line-height: 1.6 !important;
   margin-left: 0;
   padding-top: 2em;
}

.lightbox:target { 
   display: block; }



/* ---- Tablet ---- */

@media screen and (min-width: 768px) {
   #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #FFFCF4;
      z-index: 1;
   }

   #logo {
      max-width: 210px;
      margin-top: 32px;
      margin-left: -30px;
      order: -1;
   }

  #button{
   display: none;
  }

   #burger-con {
      display: block;
      font-size: 12px;
   }

   #burger-con ul li, #burger-con ul li:first-child {

      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
      font-size:22px;
   }

   #burger-con ul li {
      margin-right: 40px;
   }

   #burger-con ul li:last-child {
      margin-right: 0px;
   }

   #main-nav {
      padding-top: 45px ;
      padding-left: 60px;
    
   }
   #pop-up {
      display: none;
  }

   #hero {

    width: 100%;
    height: 475px;
    
   }
  
   
   #mybutton {
       width:150px;
       height: 70px;
       background-color:#304455 ;
       color: #efefef;
       font-family: "orpheuspro", serif;
       font-weight: 400;
       font-style: normal;
       font-size: 15px;
       border-radius: 10px;
       border: none;
       position: absolute;
       margin-top: -150px;
       margin-left: 60px;
    }

    #mybutton:hover {
       background-color:#efefef ;
       color: #304455; 
    }

  #why-zima {
    height:700px;
    color: #304455 ;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }  

  #why-zima h2{
    margin-top: 150px;
    padding-bottom: 50px;
    padding-left: 20px;
    width:300px;
  }  

  #why-zima p{
    width:300px;
    padding-left: 20px;
    text-align: left;
    
  }  

  #label {
  position: absolute;
  left:70%;
  margin-top: 100px;
  width:141px;
 
  }

  #can {
   width:141px;
    margin-top: 0px;
   position: absolute;
   margin-left: 60px;

  }
  
  #zima-flavours {
   

    height: 500px;
  }

  #flavour-text {
   
    margin-top: 0px;
    color: #304455 ;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  #flavour-text h2  {
    padding-bottom: 30px;
  }

  #fruit-buttons {
   margin-top: -300px;
  }

  #fruit-buttons button {
    padding: 0px; border: none; background: none;
    margin-bottom: 30px;
  }

  #fruit-buttons button:hover {
    transform: scale(110%);
    transform: rotate(20deg);
  }
  
  #lemon-but {
    margin-bottom: 30px;
  }

   #share-con {
      margin-top: 100px;
      
      background-color: #FFF8E5;
      color: #ffffff ;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
  }

  #share-txt {
    margin-top: 100px;
    
  }

  #share-txt h2 {
   
    margin-bottom: 20px;
    background-color: #FFF8E5;
    color: #304455;
  }

  #share-txt h3 {
   text-align: left;
    color: #304455;
    margin-bottom: 20px;
    background-color: #FFF8E5;
  }


  
  #share-pic {
    margin-top: 80px ;
    margin-bottom: 80px;
  }
   
 #icons {
    margin-left: 30px;
 }

  #icons img {
    padding-right: 40px;
  
  }

 #footer-logo {
   margin-top: 50px;
   position: absolute;
   width:200px;
 }

 #footer {
    background-color: #FFF8E5;
 }

  #footer-con {
    
    position: absolute;
    margin-top: 140px;
    margin-left: -30px;
    font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
     line-height: 60px;
   
  }

  #footer-con ul {
    list-style-type: none;
  
  }

  #footer-con ul li a {
    text-decoration: none;
    color:#304455 ;
    
    
  }
  
 
  
.close {

   

    color: rgb(0, 0, 0);
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;

   
}

.ad {
   width:100%;
 position: absolute;
 margin-top: 60px;

 


 
}

.ad .preview{
 display: none;
 margin-top: 38px;
 
}

.ad .preview.active{
 display: inline-block;
}




.ad .preview .close{
 position: absolute;
 left:95%;
 cursor: pointer;
 color:#444;
 
}

.ad .preview .close:hover{
 transform:scale(50%);
}
   
/* --------------------Our Distillery-------------------- */
#dist-con {
   margin-top: 200px;
} 

#dist-txt {
      text-align: left;
      margin-left: -20px;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #304455;
 }

 #dist-txt h2 {
   padding-bottom: 30px;
 }

 #beach {
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #sus-con {
   margin-top: 200px;
} 

 #sus-txt {
      text-align: left;
      margin-top: 30px;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      color: #304455;
 }

 #sus-txt h2 {
   padding-bottom: 30px;
 }

 #mountain {
   margin-top: 0px;
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #we-care {
   margin-top: 200px;
   margin-bottom: 100px;
 }
   



/* --------------------About Us-------------------- */
.container {
   background-image: url('../images/mountains-tab.png'); 
   background-repeat: no-repeat;


}

#main-text {
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
   width:500px;
   color: white;
   padding-left: 50px;
   padding-top: 50px;
 
}

.members { list-style-type: none; 
   display: flex;
   justify-content: space-evenly;
   padding-top: 20px;
   padding-bottom: 100px;
   margin-left: -40px;

}

#jas {
  width:111px;
}

#nial {
  width:111px;
}

#chlo {
  width:111px;
}

#learn-more {
   width: 197px;
   margin-left: 280px;
   margin-top:20px
}



#contact-text {
	font-size: 30px;
	font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
   
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form {
   padding-top:30px;
   height: 650px;
   margin-left: 80px;


}



#contact-form textarea {
	height: 100px;
    border: none;
    border-radius:  10px;
    margin-bottom: 0px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;

	width: 375px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact form textarea[name="msg"] {
	padding-left: 40px;
	padding-right: 150px;
	padding-top: 20px;
}
#contact-form input {
    height:60px;
     
	display: flex;
	flex-direction:column;
   
    border: none;
    border-radius:  10px;
   font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 18px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 24px;
   background-color: #FFF8E5;
	width:375px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact-form input[type="text"] {
	padding-left: 20px;

}
#contact-form input[type="submit"]:hover {
    background-color: #677c90;
    border-radius: 10px;
	color: #ffffff;

}
#contact-form input[type="submit"] {
	font-size: 30px;
   width: 375px;
   padding-left: 135px;
   padding-top: 5px;
	background-color: #304455;
	color: #ffffff;
  

}

#info {
   padding-top: 50px;
   padding-bottom: 150px;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
}
#sign-up {
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
  padding-bottom: 60px;
}

#sign-up h2 {
   
  padding-bottom: 20px;
}


#mount-icon {
   margin-top: 20px;
}


/* lightbox rules */

.lightbox { 
   width: 100vw; 
   height: 100vh;
   position: absolute;
   top: 0;
   color: white;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
   color: black;
   background-color: rgba(255, 255, 255, 0.85);
   background-image: url('');
   background-repeat: no-repeat;
   background-size: 55vh; 
   background-position: 40px bottom;
   z-index: 5000;
   display: none;
}


.lightbox_close {
   position: relative;
   top: 20px;
   left: 95%;

   color: white;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
   font-size: 40px;
   color: black;

   text-decoration: none;

  
}

.lightbox_close:hover { opacity: 0.5; color: rgb(139, 209, 255); }

.lightbox article {
   width: 55%;
   margin-left: 20%;
   padding-top: 60px;
}

.lb_heading {
   padding-bottom: 30px;
   font-size: 100px;
}

.lb_text {
   line-height: 1.6 !important;
   margin-left: 0;
   padding-top: 2em;
}

.lightbox:target { 
   display: block; }

}














   /* ---- DESKTOP ---- */

@media screen and (min-width: 1200px) {
   #button{
      display: none;
     }
   
   #main-header {
      height: 150px;

   }
   
   
   #main-nav {
      margin-left: 60px;
   }

   #burger-con ul li {
      margin-right: 80px;
   }

   #burger-con ul li a {
      font-size: 30px;
   }

   #logo {
      max-width: 300px;
      margin-top: 10px;
   }
    

     #pop-up {
        display: none;
    }
  
     #hero {
  
      width: 100%;
      height: 675px;
      
     }
    
     
     #mybutton {
         width:200px;
         height: 70px;
         background-color:#304455 ;
         color: #efefef;
         font-family: "orpheuspro", serif;
         font-weight: 400;
         font-style: normal;
         font-size: 18px;
         border-radius: 10px;
         border: none;
         position: absolute;
         margin-top: -150px;
         margin-left: 90px;
      }

      #mybutton:hover {
         background-color:#efefef ;
         color: #304455; 
      }

    #why-zima {
      height:900px;
      color: #304455 ;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;

    }  

    #why-zima h2{
      margin-top: 350px;
      padding-bottom: 50px;
      padding-left: 80px;
      width:300px;
   
    }  

    #why-zima p{
      width:500px;
      padding-left: 80px;
      text-align: left;
      
    }  

    #label {
      width:268px;
    position: absolute;
      left:60%;
    margin-top: 200px;
   
    }

    #can {
     width:268px;
      margin-top: 200px;
     position: absolute;
     margin-left: 60px;

    }
    
    #zima-flavours {
   

      height: 900px;
    }

    #flavour-text {
      margin-top: 300px;
      color: #304455 ;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
    }

    #flavour-text h2  {
      padding-bottom: 30px;
    }

    #fruit-buttons {
     margin-top: -300px;
    }

    #fruit-buttons button {
      padding: 0px; border: none; background: none;
      margin-bottom: 30px;
    }

    #fruit-buttons button:hover {
      transform: scale(110%);
      transform: rotate(20deg);
    }
    
    #lemon-but {
      margin-bottom: 30px;
    }

    #share-con {
        margin-top: 100px;
        
        background-color: #FFF8E5;
        color: #ffffff ;
        font-family: "orpheuspro", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    #share-txt {
      margin-top: 100px;
      
    }

    #share-txt h2 {
      margin-bottom: 20px;
      background-color: #FFF8E5;
      color: #304455;
    }

    #share-txt h3 {
      text-align: left;
      color: #304455;
      margin-bottom: 20px;
      background-color: #FFF8E5;
    }


    
    #share-pic {
      margin-top: 80px ;
      margin-bottom: 80px;
    }
     
   #icons {
      margin-left: 30px;
   }
  
    #icons img {
      padding-right: 40px;
    
    }
  
   #footer-logo {
     margin-top: 50px;
     position: absolute;
     width:200px;
   }

   #footer {
      background-color: #FFF8E5;
   }

    #footer-con {
      
      position: absolute;
      margin-top: 140px;
      margin-left: -30px;
      font-family: "orpheuspro", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
       line-height: 60px;
     
    }

    #footer-con ul {
      list-style-type: none;
    
    }

    #footer-con ul li a {
      text-decoration: none;
      color:#304455 ;
      
      
    }
    
   
    
  .close {

     
  
      color: rgb(0, 0, 0);
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      text-decoration: none;
  
     
  }

  .ad {
  margin-top: 90px;
  


   
 

   
}

.ad .preview{
   display: none;
   width:100%;
   margin-top: 38px;
   

  

}

.ad .preview.active{
   display: inline-block;
}



.ad .preview .close{
   position: absolute;
   left:95%;
   cursor: pointer;
   color:#444;
   
}

.ad .preview .close:hover{
   transform:scale(50%);
}

/* --------------------Our Distillery-------------------- */
#dist-con {
   margin-top: 300px;
} 

#dist-txt {
      text-align: left;
      margin-left: 30px;
      margin-top: 100px;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #304455;
 }

 #dist-txt h2 {
   padding-bottom: 30px;
 }

 #beach {
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #sus-con {
   margin-top: 400px;
} 

 #sus-txt {
      text-align: left;
      margin-left: 30px;
      margin-top: 100px;
      font-family: "orpheuspro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #304455;
 }

 #sus-txt h2 {
   padding-bottom: 30px;
 }

 #mountain {
   margin-top: 0px;
   border-radius: 20px;
   box-shadow:5px 5px 15px 0px #7D7D7D;
 }

 #we-care {
   margin-top: 400px;
   margin-bottom: 200px;
 }


/* --------------------About Us-------------------- */
 .container {
    background-image: url('../images/mountains-desk.png'); 
    background-repeat: no-repeat;
    max-width: 1200px;

}

#main-text {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width:800px;
    color: white;
    padding-left: 50px;
    padding-top: 50px;
  
}

.members { list-style-type: none; 
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: -40px;

}

#jas {
   width:181px;
}

#nial {
   width:181px;
}

#chlo {
   width:181px;
}

#learn-more {
    width: 297px;
    margin-left: 450px;
    margin-top:90px
}



#contact-text {
	font-size: 30px;
	font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
   
	box-shadow: 5px 5px 5px rgba(33, 37, 34, 0.486);
}

#contact-form {
   padding-top:30px;
   height: 650px;
   margin-left: 290px;


}



#contact-form textarea {
	height: 100px;
    border: none;
    border-radius:  10px;
    margin-bottom: 0px;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;

	width: 375px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact form textarea[name="msg"] {
	padding-left: 40px;
	padding-right: 150px;
	padding-top: 20px;
}
#contact-form input {
    height:60px;
     
	display: flex;
	flex-direction:column;
   
    border: none;
    border-radius:  10px;
   font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 18px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 24px;
   background-color: #FFF8E5;
	width:375px;
	box-shadow: 5px 5px 5px rgba(5, 5, 4, 0.2);
}

#contact-form input[type="text"] {
	padding-left: 20px;

}
#contact-form input[type="submit"]:hover {
    background-color: #677c90;
    border-radius: 10px;
	color: #ffffff;

}
#contact-form input[type="submit"] {
	width: 375px;
   padding-left: 145px;
   padding-top: 8px;
	background-color: #304455;
	color: #ffffff;
  

}

#info {
   padding-top: 50px;
   padding-bottom: 300px;
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
}
#sign-up {
   font-family: "orpheuspro", serif;
   font-weight: 400;
   font-style: normal;
  font-size: 18px;
  text-align: center;
  color:#304455;
  padding-bottom: 60px;
}

#sign-up h2 {
   
  padding-bottom: 20px;
}


#mount-icon {
   margin-top: 150px;
}



/* lightbox rules */

.lightbox { 
    width: 100vw; 
    height: 100vh;

    position: absolute;

    top: 0;
    
    color: white;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
    



    background-color: rgba(255, 255, 255, 0.85);
    background-image: url('');
    background-repeat: no-repeat;

    background-size: 55vh; 
    background-position: 40px bottom;

    z-index: 5000;

    display: none;
}


.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;

    text-decoration: none;

   
}

.lightbox_close:hover { opacity: 0.5; color: rgb(139, 209, 255); }

.lightbox article {
    width: 55%;
    margin-left: 20%;
    padding-top: 60px;
}

.lb_heading {
    padding-bottom: 30px;
    font-size: 100px;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

.lightbox:target { 
    display: block; }
}
