
/* ---- MOBILE ---- */
#main-nav button {
   width: 20px;
   height: 20px;
   background: url(../images/burger-mob.svg) no-repeat center;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all .5s ease;
   border: 0;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav ul {
  
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   text-align: center;
   color: #46627B;
   list-style: none;
   text-decoration: none;
}

#main-nav ul li a:hover {
   color: #000000;
}


#main-nav ul li:last-child {
   margin-bottom: 10px;
}
 
 #hero {
    height: 115px;
 }
 
 #image {
    height: 246px;
  
 }
 #text {
    display: none;
 }
 
 #image-shape {
    height: 246px;
 }
 
 #heading {
    height: 67px
 }
 
 #prod-img-1{
    height:246px;
 }
 
 #prod-img-2 {
    display:none;
 }
 
 #prod-img-3 {
    display:none;
 }
 
 #prod-img-4 {
    display:none;
 }
 
 #heading-2 {
    height: 67px
 }
 
 #share {
    height:152px;
 }
 
 #heading-3 {
    height: 65px;
 }
 
 #email {
    height: 46px;
 }
 
 #phone {
    height: 46px;
 }
 
 #sign-up {
    height: 46px;
 }
 
 #socials-1 {
    height: 54px;
 }
 
 #socials-2 {
    height: 54px;
 }
 
 #socials-3 {
    height: 54px;
 }
 
 #socials-4 {
    height: 54px;
 }


/* ---- Tablet ---- */

@media screen and (min-width: 768px) {
   #sticky-nav-con {
      position: sticky;
      top: 0px;
      
      
      z-index: 1;
   }

   #logo {
      margin-top: 32px;
      order: -1;
   }

   #button {
      display: none;
   }

   #burger-con {
      display: block;
      font-size: 12px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0px;
   }

   #main-nav {
      
      padding-left: 30px;
      margin-top: 4%;
      margin-bottom: 4%;
   }
  
     #hero {
        height: 296px;
     }
  
     #pop-up {
        display: none;
     }
  
     #image {
        height: 255px;
      
     }
  
     #heading {
        height: 108px
     }
  
     #text {
     height: 255px; 
     display: inline-block;
     }
  
     #prod-img-1{
        height:280px;
        display: inline-block;
     }
     
     #prod-img-2 {
        height:280px;
        display: inline-block;
     }
     
     #prod-img-3 {
        height:280px;
        display: inline-block;
     }
     
     #prod-img-4 {
        height:280px;
        display: inline-block;
     }
  
     #heading-2 {
        height: 108px
     }
  
     #share {
        height:242px;
     }
  
     #heading-3 {
        height: 85px;
     }
  
     #email {
        height: 68px;
     }
  
     #phone {
        height: 68px;
     }
  
    #sign-up {
     height: 68px;
     }
  
     #socials-1 {
        height: 60px;
     } 
  
     #socials-2 {
        height: 60px;
     }
  
     #socials-3 {
        height: 60px;
     }
  
     #socials-4 {
        height: 60px;
     }

}


/* ---- DESKTOP ---- */

@media screen and (min-width: 1920px) {
   #main-header {
      height: 190px;
   }

   #main-nav {
   
   }
      

   #burger-con ul {
      text-decoration: none;
      
   }
   #burger-con ul li {
      margin-right: 90px;
      
   }

   #burger-con {
      font-size: 46px;
      text-decoration: none;
      font-family: "orpheuspro", serif;
      
      margin-top: 28px;
   }
    

     #pop-up {
        display: none;
    }
  
     #hero {
        height: 953px;
    }
  
     #image {
        height: 823px;
      
    }
  
     #text {
        height: 823px;
        display: inline-block;
    }
  
     #image-shape {
        height: 683px;
    }
  
     #text {
        height: 683px;
    }
  
     #heading {
        height: 343px
    }
  
     #prod-img-1{
        height:738px;
        display: inline-block;
    }
     
     #prod-img-2 {
        height:738px;
        display: inline-block;
    }
     
     #prod-img-3 {
        height:738px;
        display: inline-block;
    }
     
     #prod-img-4 {
        height:738px;
        display: inline-block;
    }
  
     #heading-2 {
        height: 343px
    }
  
     #share {
        height:779px;
    }
  
     #heading-3 {
        height: 198px;
    }
  
     #email {
        height: 132px;
    }
  
    #phone {
     height: 132px;
    }
  
    #sign-up {
     height: 132px;
    }
  
    #socials-1 {
     height: 98px;
    } 
  
    #socials-2 {
     height: 98px;
    } 
  
    #socials-3 {
     height: 98px;
    } 
  
    #socials-4 {
     height: 98px;
    } 
}
